.error {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error__img {
  width: 200px;
}

.error__text {
  margin-top: 2rem;
  padding: 0 2rem;
  text-align: center;
  line-height: 1.5;
}
